          <!--
            タイトル
            -->
          <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%"
            style="table-layout: fixed;">
            <tr>
              <td style="padding:18px 18px 0px 18px;line-height:22px;text-align:inherit;" height="100%" valign="top"
                bgcolor="">
                <p dir="ltr" style="line-height:1.56;margin-top:0pt;margin-bottom:0pt;" class="title">
                  <span class="title-text no-break"><!--#MAIN_TITLE#--></span>
                  <span class="sub-title-text"><!--#SUB_TITLE#--></span>
                </p>
              </td>
            </tr>
          </table>
          <br />

          <!--
            キャプション
            -->
          <table class="wrapper" role="module" data-type="image" border="0" cellpadding="0" cellspacing="0" width="100%"
            style="table-layout: fixed;">
            <tr>
              <td style="font-size:6px;line-height:10px;padding:0px 018px 0px 018px;" valign="top" align="center">
                <img class="max-width" border="0"
                  style="display:block;color:#000000;text-decoration:none;font-family:Helvetica, arial, sans-serif;font-size:16px;max-width:100% !important;width:100%;height:auto !important;"
                  src="<!--#CAPTION_URL#-->" alt="" width="600">
              </td>
            </tr>
          </table>

          <!--
            イベント内容
            -->
          <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%"
            style="table-layout: fixed;">
            <tr>
              <td style="padding:18px 18px 18px 18px;line-height:22px;text-align:inherit;" height="100%" valign="top"
                bgcolor="">
                <h3>【テーマ】</h3>
                <p><!--#SUB_TITLE#--></p><br />
                <h3>【今回のゲスト】</h3>
                <ul><!--#GUEST#--></ul><br />
                <h3>【開催日時】</h3>
                <p><!--#DATE#--> <!--#START_TIME#--> - <!--#END_TIME#--></p><br />
                <h3>【開催場所】</h3>
                <ul>
                  <!--#ONLINE_PLACE#-->
                  <!--#OFFLINE_PLACE#-->
                </ul>
                <h3>【イベント概要】</h3>
                <p><!--#HEADLINE--></p>
              </td>
            </tr>
          </table>
          <hr class="thin-line">
          <!--
            参加方法ご案内
            -->
          <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%"
            style="table-layout: fixed;">
            <tr>
              <td style="padding:18px 18px 18px 18px;line-height:22px;text-align:inherit;" height="100%" valign="top"
                bgcolor="">
                <h3>【参加方法のご案内】</h3>
                <p>本CELLARR SALONはCELLARR会員様限定のイベントです。<br />はじめに<a
                    href="https://cellarr365.com/membership-free/">CELLARRフリー会員</a>にご登録をお願いします。<br />その後、以下の手順に沿ってお申し込みをお願いします。
                </p>
                <br />
              </td>
            </tr>
            <!--
              オンライン参加ボタン
              -->
            <tr>
              <td class="outer-td" style="padding:0px 0px 0px 0px">
                <div class="join-subtitle">
                  <!--#OFFLINE_COMMENT_OUT_START_TAG#-->
                  <hr class="dotted-line">
                  <p>
                  <h3>■オンライン参加</h3>
                  </p>
                  <!--#OFFLINE_COMMENT_OUT_END_TAG#-->
                  <p>
                  <h4>参加費</h4>
                  <ul>
                    <li>有料会員様: <!--#ONLINE_MEMBER_PRICE#--></li>
                    <li>フリー会員様: <!--#ONLINE_SPOT_PRICE#--></li>
                  </ul>
                  </p>
                  <div>
                    <a href="https://forms.gle/qV16vqGAib4Zft1EA" target="_blank"
                      class="online-join-button">【オンライン参加】お申込み</a>
              </td>
            </tr>
            <tr>
              <td style="padding:18px 18px 18px 18px;line-height:22px;text-align:inherit;" height="100%" valign="top"
                bgcolor="">
                <br />
                <p class="deadline-text red-text">最終締切: <!--#ONLINE_DEADLINE#--></p>
                <br />
                <p>※スポット参加をご希望のフリー会員様は、お申し込み後にお届けする確認メールから<span class="red-text">『参加チケット』</span>をご購入ください。</p>
                <br />
              </td>
            </tr>
            <!--
              オフライン参加ボタン
              -->
            <!--#OFFLINE_COMMENT_OUT_START_TAG#-->
            <tr>
              <td class="outer-td" style="padding:0px 0px 0px 0px">
                <div class="join-subtitle">
                  <hr class="dotted-line">
                  <p>
                  <h3>■オフライン参加</h3>
                  </p>
                  <p>
                  <h4>参加費</h4>
                  <ul>
                    <li>有料会員様: <!--#OFFLINE_MEMBER_PRICE#--></li>
                    <!--#OFFLINE_SPOT_PRICE#-->
                  </ul>
                  </p>
                  <div>
                    <a href="https://forms.gle/qV16vqGAib4Zft1EA" target="_blank"
                      class="offline-join-button">【オフライン参加】お申込み</a>
              </td>
            </tr>
            <tr>
              <td style="padding:18px 18px 18px 18px;line-height:22px;text-align:inherit;" height="100%" valign="top"
                bgcolor="">
                <br />
                <p class="deadline-text red-text">最終締切: <!--#OFFLINE_DEADLINE#--></p>
                <br />
                <p>※お申し込み後にお届けする確認メールから<span class="red-text">『参加チケット』</span>をご購入ください。</p>
                <br />
              </td>
            </tr>
            <!--#OFFLINE_COMMENT_OUT_END_TAG#-->
          </table>
